body{
    background-color: rgb(52, 60, 136);
}

canvas{
    border: 4px solid #ffff;
    border-bottom: transparent;
    background: url('../assets/bg.png');
    margin: 0 auto;
    display: block;
}